<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<div th:replace="fragments/header-css :: header-css"></div>

<body>
    <div class="container-fluid">
        <div class="row">
            <th:block th:replace="fragments/leftnav :: leftnav"></th:block>



            <!-- BEGIN: Page Main-->
            <main class="col">
                <div class="row">
                    <th:block th:replace="fragments/header :: header"></th:block>
                </div>

                <div class="row">
                    <div class="container-gms">
                        <div class="col-md-12">
                            <div id="progress" style="display: none;">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                            <div id="alerts"></div>
                            <div class="card-alert card green right" id="onsuccess" style="display: none; width: 40%;">
                                <div class="card-content white-text">
                                    <span class="card-title white-text darken-1"> <i
                                            class="material-icons">notifications</i>Role & Access Setting
                                    </span>
                                    <div id="message"></div>
                                </div>
                                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close"
                                    id="cancel">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                        <div class="col s12">
                            <input type="text" id="selectedRoleId" th:value="${RoleId}" style="display: none;" /> <br>
                            <!-- Input Fields -->
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-content">
                                        <div class="row" style="background-color: white;">
                                            <div class="col s12 card" style="height: 70px; background-color: white;">
                                                <center>
                                                    <h6 th:inline="text">[[${title}]] ROLE AND WORKFLOW
                                                        SETTINGS</h6>
                                                </center>
                                            </div>

                                            <div class="col s6">
                                                <form class="row" style="margin: 2px; background-color: white;">

                                                    <div class="col s12">
                                                        <p>MAKERS ACCESS</p>
                                                    </div>

                                                    <div class="col s12">
                                                        <select id="domainaccountmaker">
                                                            <option value="0" disabled selected>Accounts</option>
                                                            <option th:each="User : ${domainUsers}"
                                                                th:value="${User.getId()}" th:inline="text">
                                                                [[${User.getPrimaryEmail()}]]</option>
                                                        </select>
                                                        <button id="allowAccess"
                                                            class="btn gradient-45deg-blue-indigo right"
                                                            style="width: 50%;" type="button">
                                                            <span>SUBMIT</span>
                                                        </button>
                                                    </div>

                                                    <div class=" col s12">
                                                        <br>
                                                    </div>

                                                    <div class=" col s12">
                                                        <div class="card">
                                                            <div class="col s6">
                                                                <p style="margin: 0px; padding: 0px;">ACCOUNT ACCESS</p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="right" style="margin: 0px; padding: 0px;">
                                                                    ACTIVATE</p>
                                                            </div>
                                                            <div class="col s12">
                                                                <ul id="results" th:each="UserRole : ${roleAccess}"
                                                                    style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                    <li
                                                                        style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                        <div class="col s7"
                                                                            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                            <p style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;"
                                                                                th:inline="text">
                                                                                [[${UserRole.getUserApp().getEmail()}]]
                                                                            </p>
                                                                        </div>
                                                                        <div class="col s5"
                                                                            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                            <p class="right"
                                                                                style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                                <a type="text"
                                                                                    th:href="@{/RevockRoleAccess/} + ${UserRole.getId()}+@{/}+${RoleId}">Revock
                                                                                    Access</a>
                                                                            </p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="col s6">
                                                <form class="row" style="margin: 2px; background-color: white;">
                                                    <div class="col s12">
                                                        <p>APPROVERS(CHECKERS) SETTING</p>
                                                    </div>
                                                    <div class="col s12">
                                                        <select id="checkergmsaccounts">
                                                            <option value="0" disabled selected>Accounts</option>
                                                            <option th:each="UserApp : ${potentialCheckers}"
                                                                th:value="${UserApp.getId()}" th:inline="text">
                                                                [[${UserApp.getEmail()}]]</option>
                                                        </select>
                                                        <button id="updateChecker"
                                                            class="btn gradient-45deg-blue-indigo right"
                                                            style="width: 50%;" type="button">
                                                            <span>UPDATE CHECKER</span>
                                                        </button>
                                                    </div>

                                                    <div class=" col s12">
                                                        <br>
                                                    </div>

                                                    <div class="col s12">
                                                        <div class="card">
                                                            <div class="col s6">
                                                                <p style="margin: 0px; padding: 0px;">CURRENT APPROVER
                                                                </p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="right" style="margin: 0px; padding: 0px;">
                                                                    ACTIVATE</p>
                                                            </div>
                                                            <div class="col s12">
                                                                <ul id="results" th:each="Checker : ${checker}"
                                                                    style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                    <li
                                                                        style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                        <div class="col s6"
                                                                            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                            <p style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;"
                                                                                th:inline="text">
                                                                                [[${Checker.getChecker().getEmail()}]]
                                                                            </p>
                                                                        </div>
                                                                        <div class="col s6"
                                                                            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                            <p class="right"
                                                                                style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                                <label
                                                                                    style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                                                                                    <input type="checkbox" id="isActive"
                                                                                        th:checked="${isActive}" /><span></span>
                                                                                </label>
                                                                            </p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!-- END: Page Main-->

        </div>
    </div>
    <!--         <th:block th:replace="fragments/footer :: footer"></th:block> -->
    <th:block th:include="fragments/js-content :: js-content"></th:block>
</body>

</html>
