<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<div th:replace="fragments/header-css :: header-css"></div>

<body>
    <div class="container-fluid">
        <div class="row">
            <th:block th:replace="fragments/leftnav :: leftnav"></th:block>


            <!-- BEGIN: Page Main-->
            <main class="col">
                <div class="row">
                    <th:block th:replace="fragments/header :: header"></th:block>
                </div>


                <div class="row">

                    <div class="container-gms">
                        <div class="col s12">
                            <div id="progress" style="display: none;">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                            <div id="alerts"></div>
                            <div class="card-alert card green right" id="onsuccess" style="display: none; width: 40%;">
                                <div class="card-content white-text">
                                    <span class="card-title white-text darken-1"> <i
                                            class="material-icons">notifications</i>Account Delegation
                                    </span>
                                    <div id="message"></div>
                                </div>
                                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close"
                                    id="cancel">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="section section-data-tables">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <h4 class="card-title">Domain Account</h4>
                                                <div class="row">
                                                    <div class="col s12">
                                                        <table id="page-length-option" class="display card"
                                                            style="float: left; margin-top: 10px; margin-bottom: 10px; width: 100%; color: black;">

                                                            <thead style="background-color: gainsboro;">
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>PrimaryEmail</th>
                                                                    <th>Name</th>
                                                                    <th>Org Unit</th>
                                                                    <th>Suspended</th>
                                                                    <th>Last Login Time</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr th:each="User : ${users}">
                                                                    <td th:text="${User.getId()}"></td>
                                                                    <td th:text="${User.getPrimaryEmail()}"></td>
                                                                    <td th:text="${User.getName().getFullName()}"></td>
                                                                    <td th:text="${User.getOrgUnitPath()}"></td>
                                                                    <td th:text="${User.getSuspended()}"></td>
                                                                    <td th:text="${User.getLastLoginTime()}"></td>
                                                                    <td><a class="mb-6 btn waves-effect waves-light  gradient-45deg-blue-indigo"
                                                                            th:href="@{/DelegateAccount/} + ${User.getId()}">
                                                                            <i class="material-icons">clear</i>
                                                                        </a></td>
                                                                </tr>

                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Email</th>
                                                                    <th>FullName</th>
                                                                    <th>Org Unit</th>
                                                                    <th>Suspended</th>
                                                                    <th>Last Login Time</th>
                                                                    <th></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- START RIGHT SIDEBAR NAV -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- END: Page Main-->

        </div>
    </div>

    <!-- BEGIN VENDOR JS-->
    <!--         <th:block th:replace="fragments/footer :: footer"></th:block> -->
    <th:block th:include="fragments/js-content :: js-content"></th:block>
</body>

</html>
